/*====================
=======Structure======
======================*/

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}

main{
    margin: 0 auto;
    position: relative;
    top: 30vh;
    width: 90%;
}

/*====================
========Columns=======
======================*/

.desktop-one-column{
    width: 100%;
}

.desktop-one-column .column{
    width: 100%;
}

.desktop-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns .column{
    width: 48%;
}

.desktop-two-columns-aside{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-aside .column-aside{
    width: 30%;
}

.desktop-two-columns-aside .column-main{
    width: 65%;
}

.desktop-two-columns-inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-two-columns-inline .column{
    width: 48%;
}

.desktop-two-columns-inline .column div{
    display: flex;
    margin-right: 1em;
}

.desktop-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-three-columns .column{
    width: 30%;
}

.desktop-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.desktop-four-columns .column{
    width: 22%;
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 0%);
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h5, h6 {
    font-family: "Roboto Condensed";
}

a, td, p, button, span{
    font-family: "Roboto";
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

.center{
    text-align: center;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
========List=========
======================*/

.inline li{
    display: inline;
}

/*====================
=======Top_Menu=======
======================*/

.top-menu{
    background-color: #e6e6e6;
    padding: .5% 5%;
    width: 90%;
    z-index: 2000;
}

.top-menu-trending-news ul li{
    font-family: "Roboto";
    font-size: 0.8rem;
}

.top-menu-trending-news ul li:first-child {
    color: hsl(0, 100%, 40%);
    font-family: "Roboto Condensed";
    font-weight: 600;
}

.top-menu-trending-news ul li:not(:last-child) {
    margin-left: 0.3rem;
}

.top-menu-trending-news ul li:not(:first-child):not(:last-child)::after {
    content: "-";
    margin-left: 0.3rem;
}

.top-menu-islands ul{
    float: right;
}

.top-menu-islands ul li{
    font-size: 0.8rem;
    font-family: "Roboto";
}

.top-menu-islands ul li{
    text-transform: uppercase;
}

.top-menu-islands ul li:not(:last-child) {
    margin-right: 0.5rem;
}

.top-menu-islands ul li:not(:last-child):after {
    content: "|";
    padding-left: 0.5rem;
    color: hsl(0, 0%, 67%);
}

/*====================
======Header_Menu=====
======================*/

.header-menu{
    background-color: hsl(0, 100%, 40%);
    padding: 1% 5%;
    width: 90%;
    z-index: 2000;
}

.header-menu-hamburger{
    margin: auto 0;
}

.header-menu-hamburger #collapse-button {
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-top: 0;
    width: 15%;
}

.header-menu-hamburger #collapse-button:focus {
    outline:0;
}

.header-menu-hamburger #collapse-button span {
    background: white;
    border-radius: 1rem;
    display: block;
    height: 5px;
    margin: 0.5rem auto;
    transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    width: 100%;
}

.header-menu-hamburger #collapse-button.active span:first-of-type {
    transform: rotate(45deg) translate(1.1em, 1.1em);
}

.header-menu-hamburger .header-menu-hamburger #collapse-button.active span:nth-of-type(2) {
    opacity: 0;
}

.header-menu-hamburger .header-menu-hamburger #collapse-button.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

.header-menu-hamburger .header-menu-hamburger #collapse-button span {
    opacity: 1;
    margin: 0.5em auto;
    transform: none;
}

/* .hamburguer__menu{
    border-bottom: 0.2rem solid hsl(0, 100%, 40%);
    left: 25%;
    position: fixed;
    top: 15vh;
    width: 20%;
    z-index: 1000;
}

.hamburguer__menu-search{
    background-color: hsl(0, 0%, 20%);
    display: flex;
    padding: 0.5rem 1.5rem;
}

.hamburguer__menu-search button{
    background-color: hsl(0, 0%, 20%);
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0;
}

.hamburguer__menu-search button svg{
    height: 1.5em;
    width: 1.5em;
}

.hamburguer__menu-search button svg path{
    fill: hsl(0, 0%, 100%);
}

.hamburguer__menu-search input{
    background-color: hsl(0, 0%, 20%);
    border: none;
    font-family: "Roboto";
    color: hsl(0, 0%, 100%);
    outline: none;
    padding: 0.3rem;
    width: 100%;
}

.hamburguer__menu-categories .hamburguer__menu-category{
    background-color: hsl(0, 0%, 14%);
    border-bottom: solid 1px hsl(0, 0%, 40%);
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}

.hamburguer__menu-categories .hamburguer__menu-category:hover{
    background-color: hsl(0, 100%, 40%);
    border-bottom: solid 1px hsl(0, 0%, 40%);
}

.hamburguer__menu-categories .hamburguer__menu-category h3{
    color: hsl(0, 0%, 100%);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.hamburguer__menu-social-netwoks{
    background-color: hsl(0, 0%, 14%);
    padding: 0.5rem 1.5rem; 
}

.hamburguer__menu-social-netwoks svg{
    height: 1.5rem;
}

.hamburguer__menu-social-netwoks svg path{
    fill: hsl(0, 0%, 100%);
}

.hamburguer__menu-social-netwoks ul li{
    margin-right: 0.5rem;
}

.hamburguer__menu-social-netwoks ul li:first-child {
    color: hsl(0, 0%, 100%);
    font-family: "Roboto Condensed";
    font-weight: 600;
    font-size: 1rem;
}

.hamburguer_menu-contact{
    background-color: hsl(0, 0%, 14%);
    padding: 1rem 1.5rem; 
}

.hamburguer_menu-contact ul{
    margin: 0;
}

.hamburguer_menu-contact ul li{
    color: hsl(0, 0%, 100%);
    font-family: "Roboto";
}

.hamburguer_menu-contact ul li:not(:last-child) {
    margin-right: 0.5rem;
}

.hamburguer_menu-contact ul li:not(:last-child):after {
    content: "|";
    padding-left: 0.5rem;
    color: hsl(0, 0%, 67%);
} */

.header-menu-logo{
    margin: auto 0;
}

.header-menu-logo svg{
    height: 3rem;
}

.header-menu-logo svg path{
    fill: #ffffff;
}

.header-menu-access{
    display: flex;
    float: right;
}

.header-menu-access-login button{
    background-color: hsl(207, 17%, 88%);
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
}

.header-menu-access-login button span {
    display: inline;
    font-size: 0.9rem;
    vertical-align: middle;
}

.header-menu-access-login button svg {
    height: 1.5rem;
    overflow: hidden;
    vertical-align: middle;
}

.header-menu-access-register button{
    background-color: hsl(47, 100%, 50%);
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    padding: 0.4rem 0.5rem;
}

.header-menu-access-register button span{
    font-style: italic;
    font-weight: 600;
}

/*====================
=====Main Menu========
======================*/

.main-menu{
    background-color: hsl(0, 0%, 90%);
    display: flex;
    justify-content: space-between;
    padding: .5% 5%;
    width: 90%;
}

.main-menu-element #home svg{
    height: 1.5rem;
}

.main-menu-element #search svg{
    height: 1.3rem;
}

.main-menu-element h3{
    font-size: 1.2rem;
    font-family: "Roboto Condensed";
}

/*====================
=========Ad===========
======================*/

.big-banner{
    margin: 0 auto 1em auto;
    width: 90%;
}

.sticky-banner{
    margin-bottom: 2em;
    position: sticky;
    top: 15vh;
}

/*====================
=========Newss=========
======================*/

.news{
    margin-bottom: 2em;
    width: 100%;
}

.news h1{
    font-size: 2.7rem;
    font-weight: 900;
}

.news h2{
    font-size: 2.05rem;
    font-weight: 900;
    line-height: 1.07em;
}

.news h3{
    font-size: 1.1rem;
    line-height: 1.25em;
}

.news h4{
    font-size: 1.1rem;
    line-height: 1.25em;
}

.news p{
    margin: .5em 0
}

.news-author{
    margin: .5em 0;
}

.news-author span{
    color: hsl(0, 0%, 33%);
    font-size: 0.9rem;
    font-weight: 600;
}

.news-subtitle{
    margin: .5em 0;
}

.news-subtitle span{
    color: hsl(0, 0%, 33%);
    font-size: 0.9rem;
    font-weight: 600;
}

.news-subtitle.highlight span{
    color:hsl(0, 100%, 40%);
}

@media (max-width:479px) {

    /*====================
    =======Structure======
    ======================*/

    main{
        margin: 0 auto;
        position: relative;
        top: 15vh;
        width: 95%;
    }

    /*====================
    ========Columns=======
    ======================*/

    .mobile-one-column{
        width: 100%;
    }

    .mobile-one-column .column{
        width: 100%;
    }

    .mobile-one-column-inline{
        display: inherit;
        width: 100%;
    }
    
    .mobile-one-column-inline .column{
        border-bottom: 1px solid hsl(0, 0%, 87%);
        display: flex;
        margin-bottom: 1em;
        width: 100%;
    }
    
    .mobile-one-column-inline .column div{
        display: inherit;
        margin-right: 1em;
        width: 100%;
    }

    .mobile-two-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-two-columns .column{
        width: 48%;
    }

    .desktop-two-columns-aside .column-aside{
        display: none;
    }

    .mobile-two-columns-aside .column-main{
        width: 100%;
    }

    .mobile-three-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-three-columns .column{
        width: 30%;
    }

    .mobile-three-columns-start{
        display: flex;
        justify-content: start;
        width: 100%;
    }

    .mobile-three-columns-start .column{
        width: inherit;
    }

    .mobile-four-columns{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mobile-four-columns .column{
        width: 22%;
    }

    /*====================
    =======Top_Menu=======
    ======================*/
    
    .top-menu{
        padding: 1% 5%;
    }

    .top-menu-islands ul{
        float: none;
    }

    .top-menu-islands ul li{
        font-size: 0.7rem;
    }

    .top-menu-trending-news{
        display: none;
    }

    /*====================
    ======Header_Menu=====
    ======================*/

    .header-menu{
        padding: 3% 5%;
        width: 90%;
    }

    .header-menu-hamburger #collapse-button {
        width: 100%;
    }

    .header-menu-hamburger #collapse-button span {
        height: 5px;
        margin: 0.4rem auto;
    }

    .header-menu-hamburger #collapse-button span:first-child {
        margin: 0;
    }

    .header-menu-logo svg{
        height: 1.7rem;
        margin: 0 1em;
    }

    .header-menu-access-login button{
        background-color: transparent;
        border: none;
        border-radius: 0.1rem;
        cursor: pointer;
        margin-right: 0.5rem;
        padding: 0.2rem 0.5rem;
    }

    .header-menu-hamburger .header-menu-hamburger #collapse-button span {
        opacity: 1;
        margin: 0.5em auto;
        transform: none;
    }
    
    .header-menu-access-login button span {
        display: none;
    }
    
    .header-menu-access-login button svg {
        height: 1.5rem;
        overflow: hidden;
        vertical-align: middle;
    }

    .header-menu-access-login button svg path {
        fill:hsl(0, 0%, 100%)
    }
    
    .header-menu-access-register button{
        background-color: hsl(47, 100%, 50%);
        border: none;
        border-radius: 0.1rem;
        cursor: pointer;
        padding: 0.4rem 0.5rem;
    }
    
    .header-menu-access-register button span{
        font-style: italic;
        font-weight: 600;
    }

    /*====================
    =====Main Menu========
    ======================*/

    .main-menu{
        padding: 1% 5%;
        width: 200%;
    }

    /*====================
    =========Newss=========
    ======================*/

    .news{
        margin-bottom: 1em;
    }
    
    .news h1{
        font-size: 2rem;
    }

    .news h2{
        font-size: 2.05rem;
        font-weight: 900;
        line-height: 1.07em;
    }

    .news h3{
        font-size: 1.1rem;
        line-height: 1.25em;
    }

    .news h4{
        font-size: 1.1rem;
        line-height: 1.25em;
    }

    .news p{
        margin: .5em 0
    }

    .news-text{
        display: flex;
        flex-direction: column;
    }

    .news-author{
        margin: .5em 0;
    }

    .news-author span{
        color: hsl(0, 0%, 33%);
        font-size: 0.9rem;
        font-weight: 600;
    }

    .news-subtitle{
        margin: .5em 0;
    }

    .news-subtitle span{
        color: hsl(0, 0%, 33%);
        font-size: 0.9rem;
        font-weight: 600;
    }

    .news-subtitle.highlight span{
        color:hsl(0, 100%, 40%);
    }

}