/*====================
=======Structure======
======================*/

body{
    background-color: hsl(226, 63%, 45%);
    display:flex; 
    flex-direction:column;    
    margin: 1em 0;
    min-height: 100vh;
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    position: fixed;
    width: 90%;
    z-index: 2000;
}

main{
    margin: 5em 0 1em 0;
    width: 100%;
}

footer{
    margin-top: auto; 
    width: 100%;
}

.main-element{
    margin-bottom: 2em;
}

.footer-element{
    margin-bottom: 1em;
}

article.width-1{
    /* width: 10em; */
    grid-column-end: span 1;
    /* grid-column-start: 1;
    grid-column-end: 2; */
}

article.width-2{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* width: 20em;  */
    grid-column-end: span 2;
}

article.width-3{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* width: 30em;  */
    grid-column-end: span 3;
}

article.width-4{
    /* width: 10em; */
    grid-column-end: span 4;
    /* grid-column-start: 1;
    grid-column-end: 2; */
}

article.width-5{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* width: 20em;  */
    grid-column-end: span 5;
}

article.width-6{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* width: 30em;  */
    grid-column-end: span 6;
}

article.height-1{
    grid-row-end: span 1; 
    height: 10em;
}

article.height-2{
    grid-row-end: span 2; 
    height: 20em;
    /* grid-row-start: 1;
    grid-row-end: 3; */
}

article.height-3{
    grid-row-end: span 3; 
    height: 30em;
    /* grid-row-start: 1;
    grid-row-end: 4; */
}

article.height-4{
    grid-row-end: span 4; 
    height: 40em;
}

article.height-5{
    grid-row-end: span 5; 
    height: 50em;
    /* grid-row-start: 1;
    grid-row-end: 3; */
}

article.height-6{
    grid-row-end: span 6; 
    height: 60em;
    /* grid-row-start: 1;
    grid-row-end: 4; */
}

/*====================
======Typography======
======================*/

h1, h2, h3, h4, h5, h6, a, p{
    color: hsl(0, 0%, 100%);
}

h1, h2, h3, h4 {
    font-family: "Ubuntu";
}

h5, h6 {
    font-family: "Ubuntu Condensed";
}

a, td, p, button{
    font-family: "Ubuntu";
}

h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}

h4 {
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;
}

a:focus, a:hover {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
}

/*====================
========Image=========
======================*/

img {
    max-width: 100%;
}

/*====================
========Button========
======================*/

button{
    background-image: linear-gradient(to right, #253786 0%, #02A8B0 50%, #253786 100%);
    background-size: 200% auto;
    border-radius: 1em;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 0px;
    margin-top: 1em;
	min-width: 20%;
	padding: 1em 2em;
	transition: 0.5s;
	text-decoration: none;
}

button:hover{
    background-size: 100% auto;
}

/*====================
========Logo=========
======================*/

.logo{
    display: flex;
    width: max-content;
}

.logo__image svg{
    height: 3em;
    width: 3em;
}

.logo__image svg path{
    fill:hsl(19, 100%, 50%);
}

.logo__title{
    margin-left: 1em;
}

.logo__title h1{
    text-align: left;
}

/*====================
=========Menu=========
======================*/

.menu ul li{
    color:hsl(0, 0%, 100%);
    cursor: pointer;
    display: inline;
    font-family: 'Ubuntu';
    font-size: 1.5em;
    margin: 0 0.5em;
}

/*====================
========Slider========
======================*/

.slider{
    height: 80vh;
    position: relative;
    width: 100%;
}

.slider__image{
    max-height: 80vh;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.slider__title{
    background-color: hsla(0, 0%, 0%, 0.5);
    padding: 1.5em 1em;
    position: absolute;
    left: 15%;
    top: 15vh;
    z-index: 1001;
}

.slider__button{
    position: absolute;
    left: 15%;
    top: 30vh;
    z-index: 1001;
}

/*====================
========Featured======
======================*/

.featured{
    margin: 0 auto;
    width: 90%;
}

.featured__title{
    font-size: 1.5em;
    margin: 2em 0;
    text-align: center;
}

.featured__elements{
    display: flex;
    gap: 1em;
}

.featured__element-image-price{
    position: relative;
}

.featured__element-price{
    align-content: center;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1001;
}

.featured__element-price:hover{
    cursor: pointer;
    opacity: 1;
}

.featured__element-price h4{
    font-size: 2em;
    text-align: center;
}

.featured__element-image{
    position: relative;
    z-index: 1000;
}

.featured__element-image img{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.featured__element-description{
    border: 1px solid hsl(226, 71%, 63%);;
    border-top: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 1em;
}

.featured__element-title{
    margin-bottom: 0.5em;
}

.featured__element-title h2{
    font-size: 1em;
}

.featured__element-category{
    margin-bottom: 0.5em;
}

.featured__element-category h3{
    color:hsl(19, 100%, 50%);
    font-family: "Ubuntu Condensed";
    font-size: 1em;
}

.featured__element-text{
    margin-bottom: 0.5em;
}

.featured__element-text p{
    font-weight: 300;
    font-size: 1em;
}

/*====================
=======Services======
======================*/

.services{
    display: flex;
    margin: 3em auto;
    width: 90%;
}

.services__text{
    width: 60%;
}

.services__text p{
    font-size: 2.5em;
    font-weight: 700;
}

.services__image{
    width: 40%;
}

.services__image model-viewer{
    height: 30em;
    width: 40em;
}

/*====================
========Footer========
======================*/

.footer-element{
    width: 100%;
}

.footer-element p{
    text-align: center;
}

@media (max-width:479px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}

@media (max-width:1024px) {

    header{
        height: 2vh;
    }

    .main-element{
        margin: 1.5em 0;
    }

    .footer-element{
        margin: 1em 0;
    }

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }

    .logo svg{
        height: 2em;
        width: 2em;
    }

    .title{
        margin-left: 0.5em;
    }

    .crud{
        display: block;
    }

    .crud__table, .crud__form{
        min-width: 100%;
        max-width: 100%;
    }

    .crud__table-grid{
        grid-gap: 0;
    }

    .crud__table-flex{
        gap: 0;
    }

    .crud__store-button{
        font-size: 1em;
        margin-top: 0.5em;
    }
}

@media (min-width: 1920px) {

    h1 {
        font-size: 3.5em;
    }
    
    h2 {
        font-size: 3em;
    }

    .logo svg{
        height: 4em;
        width: 4em;
    }

    .crud__form-label label{
        font-size: 2em;
    }

    .crud__form-input input, 
    .crud__form-input textarea,
    .crud__form-input select {
        font-size: 1.5em;
        padding: 0.3em;
    }

    .crud__store-button{
        font-size: 1.5em;
    }

    .footer-element p{
        font-size: 1.5em;
    }
}



